.city {
    padding: 10px;
    text-size-adjust: 10pt;
}

.h2 {
    font-size: 36px;
}

h1 {
    font-size: 12px;
}

.well {
    margin-top:10%;
    text-align: center;
    height: 200px;
}

.city {
    width: 100%;
}